@import '../variables.scss';

.highlight-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 7.5px 0px;
  width: 95%;
}

.highlight-vid {
  cursor: pointer;
  object-fit: cover;
  outline: none;
  width: 100%;
}

.highlight-preview {
  border: 1px solid $blueaqua;
  cursor: pointer;
  position: relative;
  display: flex;
  width: 100%;
}

.highlight-thumbnail {
  object-fit: fill;
  padding: 0;
  width: 100%;
}

.highlight-title {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $white;
  -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $blueaqua;
  font-size: 1.7vw;
  font-weight: 400;
  padding: 0;
  text-align: right;
  text-shadow: 2px 2px 4px black,
               -2px -2px 4px black,
               -2px 2px 4px black,
               2px -2px 4px black;
  margin: 0px;
  max-width: 94.5%;
  z-index: 100;
}

.highlight-duration {
  color: white;
  background: black;
  margin: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
